body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  background-image: url("public/background.jpg");
  background-size: cover;
}

html {
  font-size:62.5%; /* 10px */
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 440px) {
  html {
    font-size: 31.25%;
  }
}